<h4>Fiche à remplir</h4>

<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div>
        @if (myForm.invalid) {
        <em class="msgColorAlert">
            Form submitted ? {{myForm.submitted}}
            Form valid ? {{myForm.valid}}
            Form invalid ? {{myForm.invalid}}
        </em>

        } @else if (!myForm.submitted) {
        <em class="msgColorAlert">
            Form submitted ? {{myForm.submitted}}
        </em>
        <em class="msgColorValid">
            Form valid ? {{myForm.valid}}
            Form invalid ? {{myForm.invalid}}
        </em>

        } @else {
        <em class="msgColorValid">
            Form submitted ? {{myForm.submitted}}
            Form valid ? {{myForm.valid}}
            Form invalid ? {{myForm.invalid}}
        </em>
        }
    </div>

    <!--Champ Kitten name-->
    <fieldset>
        <label for="kitten-name">Nom </label>
        <input id="kitten-name" name="kitten-name" type="text" [(ngModel)]="kittenName" #nameKitten="ngModel" required
            minlength="2" maxlength="20">
    </fieldset>
    <!-- Vérification et message d'erreur, alerte couleur sur le champ Kitten name -->
    <div *ngIf="nameKitten.errors; elseTitle">
        <em *ngIf="nameKitten.errors?.['required']" class="msgColorAlert">Le champ titre est requis</em>
        <em *ngIf="nameKitten.errors?.['minlength']" class="msgColorAlert">La longueur minimale doit être supérieure à
            2</em>
        <em *ngIf="nameKitten.errors?.['maxlength']" class="msgColorAlert">La longueur maximale doit être inférieure à
            20</em>
    </div>
    <!--<ng-template #elseTitle><em style="color: green; font-style: italic;">{{nameKitten.value}}</em></ng-template>-->

    <!--Champ Race-->
    <fieldset>
        <label for="kitten-race">Race </label>
        <input id="kitten-race" name="kitten-race" type="text" [(ngModel)]="kittenRace" #raceKitten="ngModel" required>
    </fieldset>
    <!-- Vérification et message d'erreur, alerte couleur sur le champ Kitten race -->
    <div *ngIf="raceKitten.errors, elseQuantity">
        <em *ngIf="raceKitten.errors?.['required']" class="msgColorAlert">Le champ Race est requis</em>
    </div>
    <!--<ng-template #elseQuantity><em style="color: green; font-style: italic;">{{raceKitten.value}}</em></ng-template>-->

    <!--Champ date-order-->
    <fieldset>
        <label for="kitten-birthday-date">Date de naissance </label>
        <input id="kitten-birthday-date" name="kitten-birthday" type="date" [(ngModel)]="kittenAge"
            #birthdayDateKitten="ngModel" required>
    </fieldset>
    <!-- Vérification and Message d'erreurs de date -->
    <div *ngIf="birthdayDateKitten.errors, elseDate"><em *ngIf="birthdayDateKitten.errors?.['required']"
            class="msgColorAlert">Le champ date est requis</em>
    </div>
    <!--<ng-template #elseDate><em
                style="color: green; font-style: italic;">{{birthdayDateKitten.value}}</em></ng-template>-->

    <!--Champ contact-order-->
    <fieldset>
        <label for="kitten-picture">Photo </label>
        <input id="kitten-picture" name="kitten-picture"  capture="camera" type="text"  accept="image/*" [(ngModel)]="kittenImage" #pictureKitten="ngModel"
            required>
    </fieldset>
    <!-- Vérification and Message d'erreurs de contact -->
    <div *ngIf="pictureKitten.errors,  elseContact"><em *ngIf="pictureKitten.errors?.['required']"
            class="msgColorAlert">Le champ email est requis</em>
    </div>
    <!--<ng-template #elseContact><em style="color: green; font-style: italic;">{{pictureKitten.value}}
            </em>
        </ng-template>-->

    <!--Boutons reset, submit -->
    <button type="reset">Effacer</button>
    <button type="submit" [disabled]="myForm.invalid" [ngClass]="btnStyle">Ajouter</button>
</form>