<div class="menu">

    <a class="mobil" routerLink="/home">
    <img class="logo" src="../../../assets/logo.kittens.svg" alt="logo">
    </a>
    <div>
        <h1>Menu works!</h1>
    </div>

    <div class="menuItems">
        <div>
            <a class="rlink" routerLink="/home">Accueil</a>
        </div>
        <div>
            <a class="rlink" routerLink="/signin/">Connexion</a>
        </div>
        <a class="mobil" routerLink="/signin">
        <div class="container">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        
        </div>
    </a>
    </div>
</div>