<!-- HEADER -->
<header class="app-header">
  <app-menu><a routerLink="/menu"></a></app-menu>
</header>

<!-- MAIN -->
<main class="app-main">
  <router-outlet></router-outlet>
</main>

<!-- FOOTER -->
<footer class="app-footer">
  <nav>
    <small>Copyright © 2024 chatons.org. Tous droits réservés.</small>
  </nav>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/apropos']">A propos</a>
      </li>
      <li>
        <a [routerLink]="['/contact']">Contact</a>
      </li>
    </ul>
  </nav>
</footer>