<header class="app-header">
  <app-menu><a routerLink="/menu"></a></app-menu>
</header>
<main class="app-main">
  <router-outlet></router-outlet>
</main>
<footer class="app-footer">
  <div class="footer-copyright">
  <small>Copyright © 2024 chatons.org.</small>
  <small>Tous droits réservés.</small>    
  </div>

  <nav>
    <ul class="footer-ul">
      <li>
        <a [routerLink]="['/apropos']">A propos</a>
      </li>
      <li>
        <a [routerLink]="['/contact']">Contact</a>
      </li>
    </ul>
  </nav>
</footer>