@use "../../../import" as *;

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78vh;
  max-width: 1200px;
  margin: 0 auto;
}


.main-grid-container {
    text-align: center;
    background-color: var(--body-HeaderMainFooter-bg);
    padding: 0;
    margin: 0;

    border: var(--main-grid-container-border);
}


@media screen and (max-width: 600px) {

    .main-grid-container {
        display: grid;
        grid-template-areas:
            'list'
            'user'
            'form';
        padding: .1rem;
        margin: .1rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 992px) {

    .main-grid-container {
        display: grid;
        grid-template-areas:
            'list'
            'user'
            'form';
    }
}


@media screen and (min-width: 992px) {

    .main-grid-container {
        display: grid;
        grid-template-areas:
            'list list user'
            'list list user'
            'form form user';

        border: 5px solid green;
    }
}