    .grid-itemList {
        box-shadow: var(--global-bsdw-color);

        border-radius: 10px;
        background-color: var(--list-CardsContainer-bg-color);

        .grid-itemList-CardsContainer {
            border-radius: 10px;
            background-color: var(--list-CardsContainer-bg-color);

            .grid-itemList-CardContainer {
                border-radius: 10px;
                background-color: var(--list-CardsContainer-bg-color);
                box-shadow: var(--list-CardsContainer-bx-Shadow);
            }
        }

        .grid-itemList-CardContainer:hover {
            width: 22rem;
            height: fit-content;
            box-shadow: var(--global-bsdw-color);
            transition: all 1s linear;
            border: var(--grid-itemList-CardContainer-hover);
        }
    }


@media screen and (max-width: 600px) {

    .grid-itemList {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;

        .grid-itemList-CardsContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .grid-itemList-CardContainer {
            padding: .5px;
            width: 12rem;
            max-width: 22rem;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 992px) {

        .grid-itemList {
            padding: .5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            .grid-itemList-CardsContainer {
                grid-area: list;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                justify-items: center;
                position: relative;
                width: 100%;

                .grid-itemList-CardContainer {
                    padding: .5px;
                    width: 100%;
                    max-width: 22rem;
                }

            }
        }
}

@media screen and (min-width: 992px) {
        .grid-itemList {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 600px;
            height: 100%;

            border: 5px solid yellowgreen;

            .grid-itemList-CardsContainer {
                grid-area: list;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                justify-items: center;
                position: relative;
                width: 100%;

                .grid-itemList-CardContainer {
                    width: 100%;
                    max-width: 22rem;

                    border: 5px solid dodgerblue;
                }
            }
        }
}