<main class="main-grid-container">

    <!-- AVAILABLE kittens section -->
    <section class="grid-itemList">
        <h3>Chatons disponibles</h3>

        <!--<button (click)="pushKittenForTest()"> ajouter</button>-->
        <div class="grid-itemList-CardsContainer">

            @for (kitten of getServiceKittenAvailableKittens(); track $index) {
            <div class="grid-itemList-CardContainer">
                <div>
                    <a (click)="addAdoptedKittenToUserKittenLis($index)">
                        <!-- Card @Input -->
                        <app-kitten [kittenCard]="kitten"></app-kitten>
                        <!-- Kitten message to show -->
                        <p><em>Un click </em>😁
                            <em> et je suis à toi</em> 🥰💞💘
                        </p>
                    </a>
                </div>
            </div>
            }
        </div>
    </section>

    <!-- USER section - user's kittens list
    <section class="grid-itemUser">
        <div class="grid-itemUser-UserKittens-Container">
            <app-user [userAdoptedKittens]="getServiceKittenAdoptedKitten()">
            </app-user>
        </div>
    </section> -->

    <!-- FORM section - add new available kitten
    <section class="grid-itemForm">
        <app-newkitten (createKittenEmitter)="addNewAvailableKitten($event)">
        </app-newkitten>
    </section> -->
</main>