.slider {
    position: relative;
    height: 100%;
    border: 2px solid lightgrey;
    border-radius: 10px;
}

.leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
    font-size: 45px;
    color: whitesmoke;
    z-index: 1;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
    font-size: 45px;
    color: whitesmoke;
    z-index: 1;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.slide {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    border: 1px solid whitesmoke;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow: hidden;
    background-color: lightblue;
    
}

.sun {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    color: rgb(172, 62, 62);

    background-color: yellow;
    border-radius: 50%;

    aspect-ratio: 1 / 1;
    animation:
        4s linear 5s infinite alternate rise,
        4s linear 5s infinite psychedelic;
}
@keyframes rise {
    from {        transform: translateY(25vh);    }
    to {        transform: translateY(0);    }
}
@keyframes psychedelic {
    from {        filter: hue-rotate(30deg);    }
    to {        filter: hue-rotate(360deg);    }
}


.dotsContainer {
    display: flex;
    justify-content: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.dot {
    margin: 0 3px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}