<div class="slider">
    <div>
        <div (click)="goToPrevious()" class="leftArrow">❰</div>
        <div (click)="goToNext()" class="rightArrow">❱</div>
    </div>
    @defer (when getCurrentSlideUrl()) {
    <div class="slide" [style.background-image]="getCurrentSlideUrl()">
    </div>}
    @placeholder {
    <div class="slide">
        <div class="sun">loading...</div>
    </div>
    }

    <div class="dotsContainer">
        <div class="dot" *ngFor="let kitten of this.kittensImages; let slideIndex = index"
            (click)="goToSlide(slideIndex)">
            ●
        </div>
    </div>
</div>