.menu {
    border: var(--menu-border);
    width: 100%;
    height: inherit;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    width: 4rem;
    border: .1px solid #696969;
    border-radius: 1rem;
    padding: .1rem;
}

.menuItems {
    display: inherit;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {

    .container {
        display: inline-block;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 2px;
        background-color: #333;
        margin: 10px 0;
        transition: 0.4s;
    }

    .container:hover {
        .bar1 {
            transform: translate(0, 11px) rotate(-45deg);
        }

        .bar2 {
            opacity: inherit;
        }

        .bar3 {
            transform: translate(0, -11px) rotate(45deg);
        }
    }

    .rlink {
        display: none;
    }

    .mobil {
        display: inherit;
    }

    .head1-title {
        font-size: 1.5rem;
        font-weight: 800;
    }

    .head2-title,
    h2 {
        font-size: 1rem;
        font-weight: 600;
    }

    .head3-title,
    h3 {
        font-size: .5rem;
        font-weight: 600;
    }
}