<nav class="menu">
    <a class="mobil" routerLink="/accueil">
        <img class="logo" src="../../../assets/logo.kittens.svg" alt="logo">
    </a>
    <div>
        <h2 class="head1-title">Châtons</h2>
        <small>Mon histoire à moi et à toi</small>
    </div>
    <ul class="menuItems">
        <li class="llink">
            <a class="rlink" routerLink="/accueil">Accueil</a>
        </li>
        <li class="llink">
            <a class="rlink" routerLink="/connexion/">Connexion</a>
        </li>
        <a class="mobil" routerLink="/connexion">
            <ul class="container">
                <li class="bar1"></li>
                <li class="bar2"></li>
                <li class="bar3"></li>
            </ul>
        </a>
    </ul>
</nav>